@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpcontext;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JSHOP_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JSHOP_Web.styles.css" asp-append-version="true" />
    <link href="~/css/sweet-alert.css" rel="stylesheet" />
    <link href="~/css/holdon.min.css" rel="stylesheet" />
    <script src="~/js/fontawesome.js"></script>
    @* datatables *@
    <link href="~/css/datatables/buttons.datatables.min.css" rel="stylesheet" />
    <link href="~/css/datatables/jquery.datatables.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">JSHOP_Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    var rol = httpcontext.HttpContext.Session.GetString("rol");
                }
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("menu","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Producto")">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Categoria")">Categoria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Sucursal")">Sucursal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Proveedor")">Proveedor</a>
                        </li>
                        @if(rol=="Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Index","Usuarios")">Usuarios</a>
                            </li>
                        }
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - JSHOP_Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweet-alert.js"></script>
    <script src="~/js/holdon.min.js"></script>
    <script src="~/js/jquery.js"></script>
    @* datatables *@
    <script src="~/js/datatables/jquery.datatables.min.js"></script>
    <script src="~/js/datatables/datatables.buttons.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>